<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/main.css}">
    <title>Artistas</title>
</head>

<body>
    <div class="principal">
        <h1>Artistas</h1>
        <div class="grid">
            <div class="card" th:each="artista : ${artistas}">
                <a th:href="@{'/artistas/' + ${artista.pagina}}">
                    <img th:src="${artista.imagemUrl}" alt="Artista">
                    <h2 th:text="${artista.nome}">Nome</h2>
                </a>
            </div>
        </div>
    </div>
</body>

</html>